<div class="cs-page-header">
  <span><mat-icon mat-list-icon>view_quilt</mat-icon> Containers</span>
  <div class="cs-right">
    <a [routerLink]="'/admin/createcontainer'" class="cs-dlnk" mat-ripple>
      <mat-icon mat-list-icon>add_circle_outline</mat-icon>  Add New Container
    </a>
    <!-- <button mat-raised-button><mat-icon mat-list-icon>add_circle_outline</mat-icon> Add New Container</button> -->
  </div>
</div>
<div class="cs-box">
  <div class="form-filter">
    <form>
      <mat-form-field>
        <mat-label>Container No</mat-label>
        <input type="text" matInput [formControl]="container_no" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.id}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Booking No</mat-label>
        <input type="text" matInput [formControl]="booking_no" [matAutocomplete]="auto2">
        <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn2">
          <mat-option *ngFor="let option of filteredOptions2 | async" [value]="option">
            {{option.booking}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select>
          <mat-option value="0">All Statuses</mat-option>
          <mat-option value="1">Open</mat-option>
          <mat-option value="2">Close</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="filter-btn">
        <button mat-raised-button color="warn">Filter</button>
      </div>
    </form>

  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" >
      <!-- Booking Column -->
      <ng-container matColumnDef="booking">
        <th mat-header-cell *matHeaderCellDef> Booking No </th>
        <td mat-cell *matCellDef="let element"> {{element.booking}} </td>
      </ng-container>

      <!-- Container Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Container No </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Port Of Loading Column -->
      <ng-container matColumnDef="pol">
        <th mat-header-cell *matHeaderCellDef> Port Of Loading </th>
        <td mat-cell *matCellDef="let element"> {{element.pol}} </td>
      </ng-container>

      <!-- Port Of Discharge Column -->
      <ng-container matColumnDef="pod">
        <th mat-header-cell *matHeaderCellDef> Port Of Discharge </th>
        <td mat-cell *matCellDef="let element"> {{element.pod}} </td>
      </ng-container>

      <!-- Sailing Column -->
      <ng-container matColumnDef="sailing_date">
        <th mat-header-cell *matHeaderCellDef> Sailing Date </th>
        <td mat-cell *matCellDef="let element"> {{element.sailing_date}} </td>
      </ng-container>

      <!-- Courier Column -->
      <ng-container matColumnDef="courier">
        <th mat-header-cell *matHeaderCellDef> Courier </th>
        <td mat-cell *matCellDef="let element"> {{element.courier}} </td>
      </ng-container>

      <!-- Eta Column -->
      <ng-container matColumnDef="eta">
        <th mat-header-cell *matHeaderCellDef> Eta </th>
        <td mat-cell *matCellDef="let element"> {{element.eta}} </td>
      </ng-container>

      <!-- Image Column -->
      <ng-container matColumnDef="files">
        <th mat-header-cell *matHeaderCellDef> Files </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="openPhoto(element.files)">
            <mat-icon>image</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Shipments Column -->
      <ng-container matColumnDef="shipments">
        <th mat-header-cell *matHeaderCellDef> Shipments </th>
        <td mat-cell *matCellDef="let element"> {{element.shipments}} </td>
      </ng-container>













      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <!-- Update Column -->
      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td mat-cell *matCellDef="let element"> <mat-icon mat-list-icon>edit</mat-icon> </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element"> <mat-icon mat-list-icon>delete</mat-icon> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
