<div>
  <button mat-icon-button color="warn" class="toggleBtn" (click)="toggleMenu();">
    <mat-icon>menu</mat-icon>
  </button>
  <ng-container *ngIf="showsearch">
    <form class="shipment_search_form">
      <mat-icon mat-list-icon>search</mat-icon>
      <mat-form-field>
        <mat-label>Track Shipment</mat-label>
        <input type="text" matInput>
      </mat-form-field>
      <div class="tracking-btn">
        <button mat-raised-button color="warn">Search</button>
      </div>
    </form>
  </ng-container>
  <div class="right_links">
    <button mat-icon-button class="not_lnk">
      <mat-icon matBadge="2" matBadgeColor="warn">notifications</mat-icon>
    </button>


    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="'/admin/profile'">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item [routerLink]="'/'">
        <mat-icon>power_settings_new</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</div>
