<div class="cs-page-header">
  <span *ngIf="!editMode"><mat-icon mat-list-icon>add</mat-icon> Create Shipment</span>
  <span *ngIf="editMode"><mat-icon mat-list-icon>edit</mat-icon> Edit Shipment</span>
  <div class="cs-right">
    <a [routerLink]="'/admin/shipments/list'" mat-flat-button>
      <mat-icon mat-list-icon>keyboard_arrow_left</mat-icon>  Back
    </a>

  </div>
</div>

<form class="cs-box" [formGroup]="dataForm" >
  <div class="col col3-1">
    <div>
      <div class="main_header" *ngIf="shipmentId">
        Tracking ID {{shipmentId | zeroid}}
      </div>
      <div class="col col2">
        <div formGroupName="shipper">
          <mat-card class="cs-card">
            <mat-card-header>
              <mat-card-title>
                Shipper Information
              </mat-card-title>
              <span>
                <mat-slide-toggle formControlName="new" (change)="newShipperChange($event)">Add New</mat-slide-toggle>
              </span>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field>
                <mat-label>Shipper Name</mat-label>

                <ng-container *ngIf="dataForm.controls.shipper['controls'].new.value">
                  <input type="text" matInput value="" autocomplete="off" formControlName="name" [ngClass]="{ 'is-invalid': (shipperForm.name.touched || submitted) && shipperForm.name.errors?.required }">
                </ng-container>
                <ng-container *ngIf="!dataForm.controls.shipper['controls'].new.value">
                  <input type="text" matInput [matAutocomplete]="auto" formControlName="name" autocomplete="off">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayShipper()" (optionSelected)="onShipperSelectionChanged($event)">
                    <mat-option *ngFor="let option of filteredShippers | async" [value]="option">
                      {{option.name}}
                    </mat-option>
                  </mat-autocomplete>
                </ng-container>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Type</mat-label>
                <mat-select formControlName="shipper_type_id">
                  <mat-option *ngFor="let option of shipper_types" [value]="option.id">
                    {{option.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Phone Number</mat-label>
                <input type="text" matInput formControlName="phone">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Address</mat-label>
                <input type="text" matInput formControlName="address">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Email</mat-label>
                <input type="text" matInput formControlName="email">
              </mat-form-field>

              <mat-form-field>
                <mat-label>EIN|Passport No</mat-label>
                <input type="text" matInput formControlName="ein">
              </mat-form-field>

            </mat-card-content>
          </mat-card>
        </div>

        <div formGroupName="receiver">
          <mat-card class="cs-card">
            <mat-card-header>
              <mat-card-title>Receiver Information</mat-card-title>
              <span>
                <mat-slide-toggle formControlName="new" (change)="newReceiverChange($event)">Add New</mat-slide-toggle>
              </span>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field>
                <mat-label>Receiver Name</mat-label>
                <ng-container *ngIf="dataForm.controls.receiver['controls'].new.value">
                  <input type="text" matInput formControlName="name" autocomplete="off">
                </ng-container>
                <ng-container *ngIf="!dataForm.controls.receiver['controls'].new.value">
                  <input type="text" matInput [matAutocomplete]="auto2" formControlName="name" autocomplete="off">
                  <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayReceiver()" (optionSelected)="onReceiverSelectionChanged($event)">
                    <mat-option *ngFor="let option of filteredReceivers | async" [value]="option">
                      {{option.name}}
                    </mat-option>
                  </mat-autocomplete>
                </ng-container>

              </mat-form-field>

              <mat-form-field>
                <mat-label>Phone Number</mat-label>
                <input type="text" matInput formControlName="phone">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Address</mat-label>
                <input type="text" matInput formControlName="address">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Email</mat-label>
                <input type="text" matInput formControlName="email">
              </mat-form-field>

            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div class="col" formArrayName="packages">
        <mat-card class="cs-card">
          <mat-card-header>
            <mat-card-title>Shipment Information</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div>
              <div class="cs-plist">
                <div *ngFor="let package of dataForm.controls.packages['controls'];let i = index" [formGroupName]="i">

                  <ng-container *ngIf="package.value.type == 1">
                    <mat-form-field>
                      <mat-label>Year</mat-label>
                      <input type="text" matInput formControlName="year">
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Model</mat-label>
                      <input type="text" matInput formControlName="model">
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Make</mat-label>
                      <input type="text" matInput formControlName="mark">
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Vin</mat-label>
                      <input type="text" matInput formControlName="vin">
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Value</mat-label>

                      <input type="text" matInput formControlName="value">
                      <span matPrefix>$&nbsp;</span>
                    </mat-form-field>

                    <div class="fipt">
                      <button mat-raised-button color="warn" (click)="deletePackage(i)">Delete</button>
                    </div>
                    <!-- <div class="fipt">
                      <label for="file{{i}}">File</label>
                      <input id="file{{i}}" type="file" (change)="onPackageFileChange($event,i)"/>
                    </div> -->
                  </ng-container>
                  <ng-container *ngIf="package.value.type == 2">
                    <mat-form-field class="long_txt">
                      <mat-label>Description</mat-label>
                      <input type="text" matInput formControlName="description">
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Value</mat-label>

                      <input type="text" matInput formControlName="value">
                      <span matPrefix>$&nbsp;</span>
                    </mat-form-field>

                    <div class="fipt">
                      <button mat-raised-button color="warn" (click)="deletePackage(i)">Delete</button>
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="cs-button-holder">
                <button mat-raised-button color="warn" [matMenuTriggerFor]="menu">Add New</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="addPackage(1);">Vehicles</button>
                  <button mat-menu-item (click)="addPackage(2);">Other Commodities</button>
                </mat-menu>
              </div>

            </div>

          </mat-card-content>
        </mat-card>
      </div>
      <div class="col" *ngIf="shipmentHistory">
        <mat-card class="cs-card">
          <mat-card-header>
            <mat-card-title>Shipment History</mat-card-title>
            <button class="hdownload" mat-button (click)="downloadShipmentGallery()"><mat-icon>cloud_download</mat-icon></button>
          </mat-card-header>
          <mat-card-content>
            <div>
              <div class="ct_holder">
                <table class="gtable">
                  <thead>
                    <th>Shipment Status</th>
                    <th>Image</th>
                    <th *ngIf="permission.show_user_column">Added By</th>
                    <th>Note</th>
                    <th>Added Date</th>
                    <th>Actions</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of shipmentHistory">
                      <td>{{ item.name}}</td>
                      <!-- <td><button mat-button (click)="openImage(item.file)" >{{ item.image_name}}</button></td> -->
                      <td>

                        <button mat-button *ngIf="!item.file" disabled><mat-icon>image</mat-icon></button>
                        <button mat-button (click)="openGallery(item)" *ngIf="item.file"><mat-icon>image</mat-icon></button>
                      </td>
                      <td *ngIf="permission.show_user_column">{{ item.username}}</td>
                      <td>{{ item.note}}</td>
                      <td>{{ item.date_added}}</td>
                      <td>
                        <button mat-button (click)="openEditFiles(item)" *ngIf="permission.control_history_gallery && item.file"><mat-icon>edit</mat-icon></button>
                        <button mat-button (click)="downloadGallery(item)" *ngIf="item.file"><mat-icon>cloud_download</mat-icon></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div>
      <div class="col" formGroupName="other">
        <mat-card class="cs-card">
          <mat-card-header>
            <mat-card-title>Other Information</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field>
              <input matInput [matDatepickerFilter]="dateFilter.bind(this)" [matDatepicker]="pickpicker" formControlName="date" placeholder="Date">
              <mat-datepicker-toggle matSuffix [for]="pickpicker"></mat-datepicker-toggle>
              <mat-datepicker #pickpicker></mat-datepicker>
           </mat-form-field>
            <mat-form-field>
              <mat-label>Cargo Type</mat-label>
              <mat-select formControlName="container_type_id">
                <mat-option *ngFor="let option of container_types" [value]="option.id">
                  {{option.name}}
                </mat-option>
              </mat-select>
            </mat-form-field >
            <mat-form-field >
              <mat-label>Title</mat-label>
              <mat-select formControlName="title" [attr.disabled]="!permission.title">
                <mat-option [value]="0"> No </mat-option>
                <mat-option [value]="1"> Yes </mat-option>
                <mat-option [value]="2"> N/A </mat-option>

              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Key</mat-label>
              <mat-select formControlName="akey" [attr.disabled]="!permission.key">
                <mat-option [value]="0"> No </mat-option>
                <mat-option [value]="1"> Yes </mat-option>
                <mat-option [value]="2"> N/A </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <span class="frtoggle">
                <mat-slide-toggle formControlName="new_destination" (change)="newDestinationChange($event)">Add New</mat-slide-toggle>
              </span>
              <mat-label>Destination</mat-label>
              <ng-container *ngIf="dataForm.controls.other['controls'].new_destination.value">
                <input type="text" matInput formControlName="destination_name">
              </ng-container>
              <ng-container *ngIf="!dataForm.controls.other['controls'].new_destination.value">
                <input type="text" matInput formControlName="destination_name" [matAutocomplete]="auto3">
                <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayDestination()" (optionSelected)="onDestinationSelectionChanged($event)">
                  <mat-option *ngFor="let option of filteredDestinations | async" [value]="option">
                    {{option.name}}
                  </mat-option>
                </mat-autocomplete>
              </ng-container>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Warehouse</mat-label>
              <mat-select formControlName="warehouse_id">
                <mat-option *ngFor="let option of warehouses_list" [value]="option.id">
                  {{option.name}}
                </mat-option>
                <mat-option [value]="0">None</mat-option>
              </mat-select>

            </mat-form-field>

            <mat-form-field>
              <mat-label>Your Note</mat-label>
              <textarea matInput formControlName="note"></textarea>
            </mat-form-field>

          </mat-card-content>
        </mat-card>
      </div>
      <div class="col" *ngIf="!shipmentId && isAdmin">
        <mat-card class="cs-card">
          <mat-card-header>
            <mat-card-title>Assign To User</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field>
              <mat-label>Select User</mat-label>
              <input type="text" matInput [formControl]="userNameCtrl" [matAutocomplete]="auto_user">
              <mat-autocomplete #auto_user="matAutocomplete" [displayWith]="displayUsers" (optionSelected)="onUserSelectionChanged($event)">
                <mat-option *ngFor="let option of filterUsers | async" [value]="option">
                  {{option.firstname}} {{option.lastname}}
                </mat-option>
              </mat-autocomplete>

            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col" *ngIf="!shipmentId" [ngClass]="{'error_box' : !dataForm.controls.other['controls'].attach_file.value}">
        <mat-card class="cs-card">
          <mat-card-header>
            <mat-card-title>Attach File <span class="error_title" *ngIf="!dataForm.controls.other['controls'].attach_file.value">(Required)</span><span class="success_title" *ngIf="dataForm.controls.other['controls'].attach_file.value">(Attached)</span></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="fupload">
              <label for="ifile2">Attach File</label>
              <input type="file" id="ifile2" (change)="onAttachFileChange($event)" accept=".png, .jpg, .jpeg,.txt, .pdf,.doc,.docx,.zip">
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col hprint">
        <mat-card class="cs-card" formArrayName="history">
          <mat-card-header>
            <mat-card-title>History</mat-card-title>
          </mat-card-header>
          <mat-card-content>

            <mat-form-field>
              <mat-label>Status</mat-label>
              <mat-select formControlName="shipment_status_id" [attr.disabled]="!shipmentId">
                <mat-option *ngFor="let option of shippment_statuses" [value]="option.id">
                  {{option.name}}
                </mat-option>
              </mat-select>

            </mat-form-field>



            <mat-form-field>
              <mat-label>Note</mat-label>
              <textarea matInput formControlName="note"></textarea>
            </mat-form-field>

            <div class="fupload">
              <label for="ifile">Attach Image</label>
              <input type="file" id="ifile" multiple (change)="onFileChange($event)" accept=".png, .jpg, .jpeg">
            </div>

          </mat-card-content>
        </mat-card>
        <div class="form-add">
          <mat-progress-spinner *ngIf="submitted"
              class="loader_spinner"
              color="primary"
              mode="determinate"
              [value]="this.percentCompleted">
          </mat-progress-spinner>

          <!-- <button mat-raised-button color="warn" disabled *ngIf="submitted">
            <span >Wait</span>
          </button> -->
          <ng-container *ngIf="!shipmentId && isAdmin;else normalButton">
            <button mat-raised-button color="warn" (click)="submitForm()" [disabled]="!dataForm.valid || !userNameCtrl.value" *ngIf="!submitted">
              <span *ngIf="!editMode">Submit</span>
              <span *ngIf="editMode">Update</span>
            </button>
          </ng-container>
          <ng-template #normalButton>
            <button mat-raised-button color="warn" (click)="submitForm()" [disabled]="!dataForm.valid" *ngIf="!submitted">
              <span *ngIf="!editMode">Submit</span>
              <span *ngIf="editMode">Update</span>
            </button>
          </ng-template>

        </div>
        <!-- {{percentCompleted}} -
        {{isUploaded}} -->


      </div>

    </div>
  </div>

</form>

<ng-template #itemTemplate let-index="index" let-type="type" let-data="data" let-currIndex="currIndex">
	<ng-container *ngIf="type === 'imageViewer' && index === currIndex">
    <ngx-imageviewer [src]="data.src"></ngx-imageviewer>
  </ng-container>
</ng-template>
