<style>
div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-family: sans-serif;
    text-align: center;
}
</style>
<div>
    <img src="image/catalog/logo.svg">
    <h1>DELIVERY SERVICE</h1>
</div>