.sk-template{
    &.center{
        text-align: center;
    }
    min-width: 300px;
    margin-left: 10px;
}
.loader {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  background: no-repeat #f9f9f9;
  border-radius: 4px;
  width: 100%;
  height: 20px;
  display: inline-block;
  margin-bottom: 10px;
  will-change: transform;
}
.loader:after,
.loader:before {
  box-sizing: border-box;
}
.loader.circle {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 50%;
}

.loader.image {
    height: 150px;
}

.loader.row {
    height: 70px;
}
.loader.details {
    height: 300px;
}

.loader.progress,
.loader.progress-dark {
  -webkit-animation: 2s ease-in-out infinite progress;
  animation: 2s ease-in-out infinite progress;
  background-size: 200px 100%;
}
.loader.progress {
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0)
  );
}
.loader.progress-dark {
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(255,255, 255, 0.2),
    transparent
  );
}
.loader.pulse {
  -webkit-animation: 1.5s ease-in-out 0.5s infinite pulse;
  animation: 1.5s ease-in-out 0.5s infinite pulse;
}
@media (prefers-reduced-motion: reduce) {
  .loader.progress,
  .loader.progress-dark,
  .loader.pulse {
    -webkit-animation: none;
    animation: none;
  }
  .loader.progress,
  .loader.progress-dark {
    background-image: none;
  }
}
@-webkit-keyframes progress {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
@keyframes progress {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
@-webkit-keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}
