mat-card{
  ::ng-deep{
    .mat-card-header-text {
      margin: 0px;
    }
  }
}
mat-form-field {
  width: 100%;

  ::ng-deep{
    .mat-form-field-infix {
      padding: 10px 0px;
    }
  }
}

.long_lbl{
  ::ng-deep{
    .mat-form-field-infix{
      padding: 15px 0px;
    }
  }

}


mat-selection-list{
  max-width: 260px;
}
.form-add {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

.form-add button {
  width: 100%;
}

.check_item {
  padding: 10px 0px;
}

.check_list h2 {
  margin: 0px;
}

.check_list {
  padding: 20px 0px 0px;
    border-top: 1px solid #ececec;
    margin: 10px 0px;
}

.check_list h2+div {
  padding: 20px 0px;
}

.check_list h2+div mat-checkbox {
  padding-right: 30px;
}
