<ng-template #packageItem let-package="package">


  <td *ngIf="package.type == 1">
    <div>{{ package.year }} {{ package.model }} {{ package.mark }}</div>
    <div><b>{{ package.vin }}</b></div>
  </td>
  <td *ngIf="package.type == 2">
    <div>{{ package.description }}</div>
    <!-- <div>{{ package.value }}</div> -->
  </td>
</ng-template>
<div class="cs-page-header">
  <span><mat-icon mat-list-icon>stars</mat-icon> Shipments</span>
  <div class="cs-right">
    <a [routerLink]="'/admin/shipments/add'" mat-flat-button *ngIf="pms.add">
      <mat-icon mat-list-icon>add_circle_outline</mat-icon>  Add Shipment
    </a>
    <button mat-flat-button (click)="printPage()"><svg><use xlink:href="#print_ico"></use></svg></button>
    <button mat-flat-button (click)="savePDF()"><svg><use xlink:href="#pdf_ico"></use></svg></button>
  </div>
</div>
<div class="cs-box">
  <div class="form-filter">
    <form>


      <mat-form-field>
        <mat-label>ID</mat-label>
        <input type="text" matInput [formControl]="trackingId">

      </mat-form-field>

      <mat-form-field *ngIf="pms.view_shipper">
        <mat-label>Shipper Name</mat-label>
        <input type="text" matInput [formControl]="shipperName">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select [formControl]="shipmentStatusId">
          <mat-option value="">All Statuses</mat-option>
          <mat-option *ngFor="let option of shippment_statuses" [value]="option.id">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>



      <!-- <mat-form-field>
        <mat-label>Receiver Name</mat-label>
        <input type="text" matInput [formControl]="receiverName">
      </mat-form-field> -->
      <mat-form-field>
        <mat-label>Warehouse</mat-label>
        <mat-select [formControl]="warehouseId">
          <mat-option value="">All Warehouses</mat-option>
          <mat-option *ngFor="let option of warehouses_list" [value]="option.id">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Destination</mat-label>
        <input type="text" matInput [formControl]="destinationName">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="pickpicker" [formControl]="dateCtrl" placeholder="Date">
        <mat-datepicker-toggle matSuffix [for] = "pickpicker"></mat-datepicker-toggle>
        <mat-datepicker #pickpicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <input type="text" matInput [formControl]="descriptionCtrl" autocomplete="off">
      </mat-form-field>

      <div class="filter-btn">
        <button mat-raised-button color="warn" (click)="resetFilter()">Reset</button>
      </div>
    </form>

  </div>
  <div class="mat-elevation-z8">
    <div *ngIf="loaded; else rowsPlaceHolder">

    </div>
    <div class="loading-shade" *ngIf="loaded && (isLoadingResults || isRateLimitReached)">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <table mat-table [hidden]="!loaded" [dataSource]="dataSource" matSort matSortDisableClear matSortActive="shipment_id" matSortDirection="desc" #content id="content">

      <ng-container matColumnDef="shipment_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Tracking ID </th>
        <td mat-cell *matCellDef="let element" (click)="expandedElement = expandedElement === element ? null : element" > {{element.shipment_id | zeroid}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let element">
          <table>
            <tr *ngFor="let package of element.packages;let i = index">
              <ng-container [ngTemplateOutlet]="packageItem" [ngTemplateOutletContext]="{ package : package }"></ng-container>
            </tr>
          </table>
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.date | customdate}} </td>
      </ng-container>

      <ng-container matColumnDef="shipper_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Shipper Name </th>
        <td mat-cell *matCellDef="let element"> {{element.shipper_name}} </td>
      </ng-container>

      <ng-container matColumnDef="receiver_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Receiver Name </th>
        <td mat-cell *matCellDef="let element"> {{element.receiver_name}} </td>
      </ng-container>


      <ng-container matColumnDef="destination_name" disableClear>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Destination </th>
        <td mat-cell *matCellDef="let element"> {{element.destination_name}} </td>
      </ng-container>

      <ng-container matColumnDef="warehouse_name" disableClear>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Warehouse </th>
        <td mat-cell *matCellDef="let element"> {{element.warehouse_name | none}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.shipment_status | none}} </td>
      </ng-container>

      <ng-container matColumnDef="container_type">
        <th mat-header-cell *matHeaderCellDef> CARGO TYPE </th>
        <td mat-cell *matCellDef="let element"> {{element.container_type}} </td>
      </ng-container>

      <ng-container matColumnDef="container_no">
        <th mat-header-cell *matHeaderCellDef> Container No </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="primary" *ngIf="element.container_no" [routerLink]="['/admin/containers/info', element.container_id]">{{element.container_no  | none}}</button>
          <button mat-button color="primary" *ngIf="!element.container_no">{{element.container_no  | none}}</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title | yesno}} </td>
      </ng-container>

      <ng-container matColumnDef="akey">
        <th mat-header-cell *matHeaderCellDef> Key </th>
        <td mat-cell *matCellDef="let element"> {{element.akey | yesno}} </td>
      </ng-container>


      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef> Your Note </th>
        <td mat-cell *matCellDef="let element">
          <div class="txtibtn">
            <button mat-button color="primary" (click)="updateNotes(element)" *ngIf="userId == element.user_id">
              <mat-icon mat-list-icon>edit</mat-icon>
            </button>
            <div>{{element.note}}</div>
          </div>

        </td>
      </ng-container>



      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item color="warn" (click)="openPhoto(element.shipment_id)">
              <mat-icon>image</mat-icon>
              <span>Gallery</span>
            </button>
            <button mat-menu-item color="warn" (click)="openFiles(element.shipment_id)">
              <mat-icon>attach_file</mat-icon>
              <span>Files</span>
            </button>
            <!-- <button *ngIf="pms.view" mat-menu-item color="warn" [routerLink]="['/admin/shipments/info', element.shipment_id]">
              <mat-icon>remove_red_eye</mat-icon>
              <span>View</span>
            </button> -->
            <ng-container *ngIf="pms.update && pms.disable_after_pending">
              <button mat-menu-item aria-label="Edit" [routerLink]="['/admin/shipments/', element.shipment_id]" *ngIf="element.shipment_status_id == pending_status_id">
                <mat-icon mat-list-icon>edit</mat-icon>
                <span>Update</span>
              </button>
            </ng-container>
            <ng-container *ngIf="pms.update && !pms.disable_after_pending">
              <button mat-menu-item aria-label="Edit" [routerLink]="['/admin/shipments/', element.shipment_id]">
                <mat-icon mat-list-icon>edit</mat-icon>
                <span>Update</span>
              </button>
            </ng-container>

            <ng-container *ngIf="pms.delete && pms.disable_after_pending">
              <button mat-menu-item aria-label="Edit" (click)="deleteShipment(element.shipment_id)" *ngIf="element.shipment_status_id == pending_status_id">
                <mat-icon mat-list-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </ng-container>
            <ng-container *ngIf="pms.delete && !pms.disable_after_pending">
              <button mat-menu-item aria-label="Edit" (click)="deleteShipment(element.shipment_id)">
                <mat-icon mat-list-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </ng-container>
          </mat-menu>
        </td>
      </ng-container>

      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef> View </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" [routerLink]="['/admin/shipments/info', element.shipment_id]">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </td>
      </ng-container>
      <!--
      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="pms.disable_after_pending">
            <button mat-icon-button aria-label="Edit" [routerLink]="['/admin/shipments/', element.shipment_id]" *ngIf="element.shipment_status_id == pending_status_id">
              <mat-icon mat-list-icon>edit</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="!pms.disable_after_pending">
            <button mat-icon-button aria-label="Edit" [routerLink]="['/admin/shipments/', element.shipment_id]">
              <mat-icon mat-list-icon>edit</mat-icon>
            </button>
          </ng-container>


        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="pms.disable_after_pending">
            <button mat-icon-button aria-label="Edit" (click)="deleteShipment(element.shipment_id)" *ngIf="element.shipment_status_id == pending_status_id">
              <mat-icon mat-list-icon>delete</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="!pms.disable_after_pending">
            <button mat-icon-button aria-label="Edit" (click)="deleteShipment(element.shipment_id)">
              <mat-icon mat-list-icon>delete</mat-icon>
            </button>
          </ng-container>

        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


      <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="sp-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="sp-detail-row"></tr> -->
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 30, 100]" [length]="resultsLength" showFirstLastButtons></mat-paginator>
  </div>
</div>


<ng-template #rowsPlaceHolder>
  <app-skeleton type="rows"></app-skeleton>
</ng-template>


<ng-template #itemTemplate let-index="index" let-type="type" let-data="data" let-currIndex="currIndex">
	<ng-container *ngIf="type === 'imageViewer' && index === currIndex">
    <ngx-imageviewer [src]="data.src"></ngx-imageviewer>
  </ng-container>
</ng-template>
