:host{
  color: #1774a5;
    z-index: 2;
    text-align: center;
    padding: 23px 20px 10px;
    border-top: 1px solid #eaeaea;
    a{
      text-decoration: none;
    color: #1671a1;
    font-weight: bold;
    }
}
