mat-card{
  ::ng-deep{
    .mat-card-header-text {
      margin: 0px;
    }
  }
}
mat-form-field {
  width: 100%;

  ::ng-deep{
    .mat-form-field-infix {
      padding: 10px 0px;
    }
  }
}


.form-add {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

.form-add button {
  width: 100%;
}
