:host{
  width: 90%;
	max-width: 400px;
}
.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 100%;
}

.gbox{
  text-align: center;
  padding: 20px;
}

.gbox img {
  width: 171px;
}

button {
	border-radius: 8px;
    border: 1px solid #198dca;
    background-color: #198dca;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    margin-left: 5px;
}

button.v2 {
  padding: 12px;
  background: #198dca;
  border: none;
}

.spin {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.sform {
  margin-bottom: 10px;
}

.sform input {
  border: 1px solid #e7e6e8;
  padding: 10px;
  border-radius: 8px;
}


button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}


.msg {
  display: inline-block;
  background: #e6e6e6;
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  margin: 0px 0px 20px;
  box-shadow: 0px 0px 10px #c5c5c5;
}

.msg.faild {
  background: #ff9c9c;
  border: 1px solid #f05555;
}

.msg.success {
  background: #bcffbe;
  border: 1px solid #78ea7c;
}
