<div class="container gbox">
  <img [src]="baseurl + 'assets/images/logo.jpeg'" class="llogo"/>
  <h1>Forget your password?</h1>
  <div *ngIf="success" class="msg success">Please check your email.</div>
  <div *ngIf="faild" class="msg faild">Something wrong happen.</div>
  <form [formGroup]="dataForm" class="sform">
    <input type="text" formControlName="email" placeholder="Email address"/>
    <mat-spinner [diameter]="50" *ngIf="submitted" class="spin"></mat-spinner>
    <button (click)="submit()" class="v2" *ngIf="!submitted">Send</button>
  </form>
  <button routerLink="/">Home Page</button>
</div>
